include README.md
include LICENSE
include CONTRIBUTING.MD
recursive-include examples *.py
recursive-include docs *.md
recursive-include docs/design *
recursive-exclude envs/wrappers/deprecated *.py
exclude envs/custom/setup.py
